# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: "windows-latest"
            task: "buildWindowsRelease"
            artifact: "windows"
            output: "justblueprints-windows.msi"
          - os: "ubuntu-latest"
            task: "buildLinuxRelease"
            artifact: "linux"
            output: "justblueprints-windows.deb"
          - os: "macos-latest"
            task: "buildMacosRelease"
            artifact: "macos"
            output: "justblueprints-windows.dmg"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Build Release
      uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
      with:
        arguments: ${{ matrix.task }}
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.artifact }}
        path: ${{ matrix.output }}

  release:
    runs-on: windows-latest
    needs: build
    steps:
    - uses: actions/download-artifact@v3
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
         *.msi
         *.deb
         *.dmg
